In [2]:
numbers = (1,2,3,4,5)
print(numbers)

(1, 2, 3, 4, 5)

In [3]:
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [8]:
str_to_tuple = tuple("hello")
print(str_to_tuple)

list_to_tuple = tuple([1,2,3])
print(list_to_tuple)

range_to_tuple = tuple(range(5))
print(range_to_tuple)

('h', 'e', 'l', 'l', 'o')
(1, 2, 3)
(0, 1, 2, 3, 4)

In [10]:
original_list = [1, 2, 3]

copied_tup = tuple(original_list)
print(copied_tup)

original_tup = (4,5,6)
copied_tup2 = tuple(original_tup)
print(copied_tup2)

(1, 2, 3)
(4, 5, 6)

In [ ]:
fruits = ("apple", "banana", "cherry")

print(fruits[0])

apple

In [15]:
numbers = (0, 1, 2, 3, 4, 5)
print(numbers[:3])

(0, 1, 2)

In [17]:
fruits = ("apple", "banana", "cherry")

print("banana" in fruits)
print(fruits.index("banana"))

True
1

In [19]:
numbers = (1, 2, 3, 2, 4, 2, 5)

print(numbers.count(3))

1

In [20]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

comb_tup = tuple1 + tuple2
print(comb_tup)

(1, 2, 3, 4, 5, 6)